<h1>Articles Search</h1>
 
<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
  <p>
    <%= label_tag "Status" %>
    <%= select_tag :status, options_for_select([['Publicado', 1], ['Rascunho', 0]], params[:status]),
          class: 'form-control filter', prompt: 'Todos' %>
  </p>
<% end %>

Found: <%= @articles.count %>
<ul>
  <% @articles.each do |article| %>
  <hr />
    <li><span><%= article.id %></span>
      <h3>
        <%= article.title %>
      </h3>
      <span>by <%= link_to article.user.name, edit_user_path(article.user.id) %>, scoring <%= article._score %>. </span>
      <p>
        <%= article.text %>
      </p>
    </li>
  <% end %>
</ul>